[submodule "dandisets/000673"]
	path = dandisets/000673
	url = https://github.com/dandi-ai-notebooks/000673.git
[submodule "dandisets/000945"]
	path = dandisets/000945
	url = https://github.com/dandi-ai-notebooks/000945.git
[submodule "dandisets/001174"]
	path = dandisets/001174
	url = https://github.com/dandi-ai-notebooks/001174.git
[submodule "dandisets/001176"]
	path = dandisets/001176
	url = https://github.com/dandi-ai-notebooks/001176.git
[submodule "dandisets/001275"]
	path = dandisets/001275
	url = https://github.com/dandi-ai-notebooks/001275.git
[submodule "dandisets/001276"]
	path = dandisets/001276
	url = https://github.com/dandi-ai-notebooks/001276.git
[submodule "dandisets/001333"]
	path = dandisets/001333
	url = https://github.com/dandi-ai-notebooks/001333.git
[submodule "dandisets/001335"]
	path = dandisets/001335
	url = https://github.com/dandi-ai-notebooks/001335.git
[submodule "dandisets/001363"]
	path = dandisets/001363
	url = https://github.com/dandi-ai-notebooks/001363.git
[submodule "dandisets/001366"]
	path = dandisets/001366
	url = https://github.com/dandi-ai-notebooks/001366.git
